body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #c7dfeb;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  color: #2c3e50;
}

a {
  text-decoration: none;
  color: #061a9c;
  font-family: "Bree Serif";
  font-size: 15px;
}

img {
  border-radius: 8px;
  width: 120px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
